$white: #F2EFEB;
$blue: #1C3640;
$lightBlue: #65858C;
$red: #BF1F1F;
$lightRed: #F2A391;

.novaPartida{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  .nomeJogador{
    display: block;
    width: 100%;
    padding: 16px 0;
  }

  .mesa{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 2px solid $white;
    background-color: $blue;
    width: 100%;
    position: relative;

    .areaJogador{
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-grow: 1;
      
      &:first-child{
        border-bottom: 1px solid $white;
      }
      
      &:last-child{
        border-top: 1px solid $white;
      }

      .areaPontuacao{
        display: flex;
        flex-grow: 1;
        border-right: 1px solid $white;
        justify-content: center;
        align-items: center;
        width: 50%;

        span{
          font-size: 4em;
          -webkit-user-select: none;
          user-select: none;
        }
      }

      .controles{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        width: 50%;
      }

      .controle{
        flex-grow: 1;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child{
          color: $lightBlue;
        }
        &:last-child{
          color: $lightRed;
        }
      }
    }

    .enviar{
      position: absolute;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      background-color: $red;
      color: $white;
      font-size: 1em;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 4px;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}